 
DATABASE_URL="YOUR MONGODB URL"

NEXTAUTH_SECRET="YOUR KEY"

GITHUB_ID="YOUR GITHUB ID"
GITHUB_SECRET="YOUR GITHUB SECRET KEY"

GOOGLE_CLIENT_ID="YOUR GOOGLE CLIENT ID"
GOOGLE_CLIENT_SECRET="YOUR GOOGLE CLIENT SECRET KEY"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="YOUR CLODINARY CLOUD NAME"